body {
  background-color: #ffdeaf;
}
table, th, td {
  border: 4px solid rgb(80, 80, 80);
  background-color: rgba(255, 255, 0, 0.3);
}
td {
  text-align: center;
}
th {
  background-color: rgb(60, 179, 113);
  color: white;
}
tr:nth-child(even){
  background-color: rgba(60, 179, 113, 0.7);
}
table {
  border-collapse: collapse;
}
hr{
  border: 4px solid black;
}
h1 {
  color:#800080;
}
h2 {
  color:#8008e1;
}
h3 {
  color:#B22222;
}
h4 {
  color:#3894e7;
}
.mojlink0 {
  background-color: #000000;
  color: #ff0000;
  text-decoration: none;
  padding: 1rem;
}
.navigation_link0 {
  background-color:#ffffff;
  color:#000000;
  text-decoration: none;
}
.navigation_link1 {
  background-color:#ffffff;
  color:#000000;
  text-decoration: none;
  padding: 1rem;
}


