body {
  background-color: #FFDAB9;
}
/* div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
<div>GRZEGORZ SZYMANEK Nr28</div> */

/* p.dotted {border-style: dotted;}
<p class="dotted">Zadanie 1</p>
 */
table, th, td {
  border: 8px solid rgb(61, 61, 61);
}
td {
  text-align: center;
}
th {
  background-color: rgb(60, 179, 113);
  color: white;
}
table {
  border-collapse: collapse;
}
h1 {
  color: #800080;
}
h3 {
  color: #B22222;
}
