body {
  background-color: #FFDAB9;
}

/* div {
  border: 1px solid black;
  background-color: lightblue;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}
<div>GRZEGORZ SZYMANEK Nr28</div> */

/* p.dotted {border-style: dotted;}
<p class="dotted">Zadanie 1</p>
 */

table, th, td {
  border: 6px solid rgb(61, 61, 61);
}

td {
  text-align: center;
}

th {
  background-color: rgb(60, 179, 113);
  color: white;
}

table {
  border-collapse: collapse;
}

h1 {
  color: #800080;
}

h2 {
  color:#8008e1;
}

h3 {
  color: #B22222;
}

.mojlink0 {
  background-color:rgb(60, 60, 60);
  color:#ff0000;
}
.navigation_link0 {
  background-color:#ffffff;
  color:#000000;
}

.navigation_link1 {
  background-color:#ffffff;
  color:#000000;
}

.navigation_link2 {
  background-color:#ffffff;
  color:#000000;
}

.navigation_link3 {
  background-color:#ffffff;
  color:#000000;
}

.navigation_link4 {
  background-color:#ffffff;
  color:#000000;
}


